.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50vh;
  margin: 0;
}

.App-header {
  flex: 1;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-body {
  flex: 1;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-container {
  border: 2px solid black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.divider {
  width: 1px; /* Ширина разделительной черты */
  height: 75px; /* Высота разделительной черты (высота таблицы) */
  background-color: #000; /* Цвет черты */
  display: inline-block; /* Размещение в ряд с таблицами */
  margin-right: 10px; /* Расстояние между чертой и таблицами */
}

table {  
  display: inline-block; /* Размещение в ряд */
  margin-right: 10px; /* Расстояние между таблицами */
}

#test {
  display: inline-block;
}